# Dados Banco central

In [1]:
import pandas as pd

In [1]:
import requests
r = requests.get("https://api.bcb.gov.br/dados/serie/v2/​listar​?formato=json&indicador=433")
print(r.json())

{'error': 'endpoint not found!'}

In [2]:
df = pd.read_parquet(r"C:\Users\Matheus\Desktop\CEDS_workspace\TCC CEDS\nowcasting\data\raw\selic_acumulada_mes.parquet")
df.head()

            selic_acumulada_mes
date
2011-01-01                 0.86
2011-02-01                 0.84
2011-03-01                 0.92
2011-04-01                 0.84
2011-05-01                 0.99

In [3]:
df.tail()

            selic_acumulada_mes
date
2025-10-01                 1.28
2025-11-01                 1.05
2025-12-01                 1.22
2026-01-01                 1.16
2026-02-01                 0.55

In [4]:
# Inadimplência - Taxa de inadimplência do crédito para pessoas físicas
df_inad = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.21084/dados?formato=csv", sep = ';')
df_inad.head()

         data valor
0  01/03/2011  4,62
1  01/04/2011  4,67
2  01/05/2011  4,82
3  01/06/2011  4,79
4  01/07/2011  4,90

In [5]:
# atividade econômica - Atividade econômica mensal - IBC-Br - com ajuste sazonal
df_atv_eco = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.24364/dados?formato=csv", sep = ';')
df_atv_eco.head()

         data     valor
0  01/01/2003  70,54523
1  01/02/2003  71,73128
2  01/03/2003  71,35367
3  01/04/2003  70,86296
4  01/05/2003  70,16612

In [4]:
# taxa selic
df_selic = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.4189/dados?formato=csv", sep = ';')
df_selic.head()

         data  valor
0  01/08/1986  35,55
1  01/09/1986  39,39
2  01/10/1986  23,65
3  01/11/1986  34,32
4  01/12/1986  83,98

In [5]:
df_selic.tail()

           data  valor
470  01/10/2025  14,90
471  01/11/2025  14,90
472  01/12/2025  14,90
473  01/01/2026  14,90
474  01/02/2026  14,90

In [14]:
df_ibge = pd.read_csv("C:\\Users\\Matheus\\Desktop\\CEDS_workspace\\TCC CEDS\\nowcasting\\data\\raw\\tabela4095.csv", sep = ',', encoding = 'utf-8')
df_ibge.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

In [10]:
import sidrapy

In [ ]:
#https://apisidra.ibge.gov.br/values/t/4095/n1/all/v/all/p/all/c1568/all/d/v4087%201,v4089%201,v4091%201,v4093%201,v4095%201,v4096%201,v4097%201,v4098%201,v4099%201,v4100%201,v4101%201,v4102%201,v4103%201,v4104%201,v4105%201,v4106%201,v4107%201,v4108%201,v4109%201,v4110%201,v4111%201,v4112%201,v4113%201,v4724%201,v4726%201,v4774%201,v12466%201,v12467%201
df_ibge = sidrapy.get_table(table_code="4095", territorial_level="1", ibge_territorial_code="all", variable="all", period="all")

In [12]:
#https://apisidra.ibge.gov.br/values/t/8880/n1/all/v/7170/p/all/c11046/56734/d/v7170%205
df_ibge = sidrapy.get_table(table_code="8880", territorial_level="1", ibge_territorial_code="all", variable="7170", period="all")

In [13]:
df_ibge.head()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Brasil (Código),Brasil,Mês (Código),Mês,Variável (Código),Variável,Tipos de índice (Código),Tipos de índice
1,1,Brasil,30,Número-índice,..,1,Brasil,200001,janeiro 2000,7170,PMC - Número-índice com ajuste sazonal (2022=100),0,
2,1,Brasil,30,Número-índice,..,1,Brasil,200002,fevereiro 2000,7170,PMC - Número-índice com ajuste sazonal (2022=100),0,
3,1,Brasil,30,Número-índice,..,1,Brasil,200003,março 2000,7170,PMC - Número-índice com ajuste sazonal (2022=100),0,
4,1,Brasil,30,Número-índice,..,1,Brasil,200004,abril 2000,7170,PMC - Número-índice com ajuste sazonal (2022=100),0,

In [6]:
import sidrapy

In [9]:
!pip install bcb

ERROR: Could not find a version that satisfies the requirement bcb (from versions: none)

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for bcb

In [ ]:
sidrapy.get_table()